<div class="card">

    <p class="page-subtitle">

        Período:
        {{ data_inicio.strftime('%d/%m/%Y') }}
        até
        {{ data_fim.strftime('%d/%m/%Y') }}

    </p>

    <form method="GET" class="filtro-relatorio">

        <div class="form-group">

            {{ form.data_inicio.label }}

            {{ form.data_inicio(
                class="form-control",
                value=data_inicio.strftime('%Y-%m-%d')
            ) }}

        </div>

        <div class="form-group">

            {{ form.data_fim.label }}

            {{ form.data_fim(
                class="form-control",
                value=data_fim.strftime('%Y-%m-%d')
            ) }}

        </div>

        <div class="form-group filtro-relatorio-botao">

            {{ form.submit(class="btn btn-primary") }}

        </div>

    </form>

</div>